/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #4288bd;
  cursor: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2248%22 height%3D%2248%22 viewBox%3D%220 0 24 24%22%3E%3Cpath fill%3D%22%23FFF%22 stroke%3D%22%23000%22 stroke-width%3D%222%22 stroke-linejoin%3D%22round%22 d%3D%22M15 3H8L4 14h6l-3 8 13-12h-7.5L15 3z%22%3E%3C/path%3E%3C/svg%3E'), auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  background-color: #2a475e;
  color: #fff;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #00b7ff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links li a:hover {
  color: #00b7ff;
  transform: scale(1.1);
}

.menu-btn {
  display: none;
  cursor: pointer;
}

/* Section styles */
.section {
  padding: 80px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #00b7ff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project,
.experience,
.volunteering {
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover,
.experience:hover,
.volunteering:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* About section styles */
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  margin-right: 40px;
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: 500px;
  border-radius: 5px;
}

/* Experience and Volunteering images */
.experience img,
.volunteering img {
  max-width: 100%;
  border-radius: 5px;
}
.project img{
max-width: 100%;
  border-radius: 5px;
height:150px;
}
.experience img {
  height: 200px;
}

.volunteering img {
  height: 100px;
}

/* Contact section styles */
#contact ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#contact li {
  margin: 0 20px;
}

#contact a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

#contact a:hover {
  color: #00b7ff;
}

/* Footer styles */
footer {
  background-color: #2a475e;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .about-content {
    flex-direction: column;
  }

  .about-text {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Publications section styles */
.publication {
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.publication:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.publication p {
  font-size: 16px;
  line-height: 1.6;
}

